<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="assets/vendor/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/maudio.css">
    <!-- App CSS -->
    <link type="text/css" href="assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="assets/css/app.rtl.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="assets/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="assets/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">
<script>
  var localAdress = "http://localhost:3000/";
</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133433427-1');
</script> -->


    <!-- Facebook Pixel Code -->
    <!-- <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '327167911228268');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=327167911228268&ev=PageView&noscript=1"
/></noscript> -->
    <!-- End Facebook Pixel Code -->



    <!-- Flatpickr -->
    <link type="text/css" href="assets/css/vendor-flatpickr.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">

    <!-- Vector Maps -->
    <link type="text/css" href="assets/vendor/jqvmap/jqvmap.min.css" rel="stylesheet">
<style>
  .mdk-drawer-layout__content{
  height: 800px !important;
}
  #editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}
.videoxxx{
  max-width: 270px;
  width: auto;
  height: 70px;
  border-radius: 20px; 
  overflow: hidden; 
}
.mute-click{
  left: 0;
}
.voice{
    padding-left: 10px;
}

</style>
</head>

<body class="layout-default">


    <div class="preloader"></div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
            <div class="mdk-header__content">

                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary>
                    <div class="container-fluid p-0">

                        <!-- Navbar toggler -->

                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>



                        <!-- Navbar Brand -->
                        <a href="index.html" class="navbar-brand ">
                            <img class="navbar-brand-icon" src="assets/images/logo@2x.png" height="26" alt="BizzArk">
                            <span>e-code.Halotu</span>
                        </a>



                        <div class="dropdown d-none d-sm-flex border-right navbar-border navbar-height align-items-center">
                            <a href="#demos" class="btn btn-navbar dropdown-toggle mx-3" data-toggle="dropdown">Action</a>
                            <div id="demos" class="dropdown-menu">
                                <a class="dropdown-item active" href="">Action</a>
                                <a class="dropdown-item" href="#" onclick="myFunctionCopy()">Share</a>
                                <a class="dropdown-item" href="#" id="modall3">Add to your codes</a>
                                <%if (data[0].passWord == '' || data[0].passWord == null) { %>
                                <a class="dropdown-item modall" id="modall" href="#"> Set Password</a>
                                <% } else { %>
                                  <a class="dropdown-item modall" href="#"> <code> Your password:</code> <%=data[0].passWord%></a>
                               
                                <% } %>
                            </div>
                        </div>
                        <span class="mr-3"></span>

                        <select id="lang" class="size-select">
                          <option value="c_cpp">C</option>
                          <option value="c_cpp">C++</option>
                          <option value="csharp">C#</option>
                          <option value="python">Python</option>
                          <option value="html">Html</option>
                          <option value="css">Css</option>
                          <option value="javascript">Javascript</option>
                          <option value="java">Java</option>
                          <option value="php">Php</option>
                      </select>
                      <select id="size" class="size-select">
                        <!-- <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option> -->
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                        <option value="26">26</option>
                        <option value="28">28</option>
                        <option value="30">30</option>
                        <option value="32">32</option>
                        <option value="34">34</option>
                        <option value="36">36</option>
                        <option value="38">38</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="44">44</option>
                        <option value="46">46</option>
                        <option value="48">48</option>
                        <option value="50">50</option>
                      </select>
                      <select id="them" class="size-select">
                        <option value="chrome">chrome</option>
                        <option value="chaos">chaos</option>
                        <option value="dracula">dracula</option>
                        <option value="clouds">clouds</option>
                        <option value="cobalt">cobalt</option>
                        <option value="dawn">dawn</option>
                        <option value="ambiance">ambiance</option>
                        <option value="dreamweaver">dreamweaver</option>
                        <option value="eclipse">eclipse</option>
                        <option value="github">github</option>
                        <option value="gob">gob</option>
                        <option value="gruvbox">gruvbox</option>
                        <option value="iplastic">iplastic</option>
                        <option value="katzenmilch">katzenmilch</option>
                        <option value="kuroir">kuroir</option>
                        <option value="merbivore">merbivore</option>
                        <option value="monokai">monokai</option>
                        <option value="terminal">terminal</option>
                        <option value="textmate">textmate</option>
                        <option value="tomorrow">tomorrow</option>
                        <option value="tomorrow_night">tomorrow_night</option>
                        <option value="tomorrow_night_blue">tomorrow_night_blue</option>
                        <option value="twilight">twilight</option>
                        <option value="xcode">xcode</option>
                      </select>
                      <button id="modallRunCode" type="button" class="btn btn-success">Run
                        <i class="material-icons">play_circle_filled</i>
                    </button>
                        <ul class="nav navbar-nav ml-auto d-none d-md-flex border-left">
                            <!-- <li class="nav-item">
        <a href="" class="nav-link">
          <i class="material-icons">help_outline</i> Get Help
        </a>
      </li>
      <li class="nav-item mr-3">
        <a href="pricing.html" class="btn btn-outline-warning">
          <i class="material-icons">star</i> PRO
        </a>
      </li> -->
                            <li class="nav-item dropdown">
                                <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <i class="material-icons nav-icon navbar-notifications-indicator">notifications_none</i>
                                </a>
                                <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                                    <div class="dropdown-item d-flex align-items-center py-2">
                                        <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                        <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                    </div>
                                    <div class="navbar-notifications-menu__content" data-perfect-scrollbar>
                                        <div class="py-2">

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-border navbar-height align-items-center">
                            <li class="nav-item dropdown">
                                <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <!-- <img src="assets/images/avatar/demi.png" class="rounded-circle" width="40" alt="Frontted"> -->
                                    <span class="avatar avatar-sm">
                                        <% if(login){%>
                                          <% if(login.image_url){%>
                                            <img src="<%=login.image_url%>" alt="">
                                          <%} else {%>
                                            <span class="avatar-title rounded-circle bg-warning">N</span>
                                          <%}%>
                                        <%}else{%>
                                          <span class="avatar-title rounded-circle bg-warning">Guest</span>
                                          <%}%>
                                    </span>
                                </a>
                                <% if(login){%>
                                <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong><%=login.name%></strong></div>
                                        <div></div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/user/profile">My profile</a>
                                    <a class="dropdown-item" href="/user/edit">Edit account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/user/logout">Logout</a>
                                </div>
                                <%}else{%>
                                  <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong>Guest</strong></div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/user/login/<%=data[0].nameCode%>">Login</a>
                                </div>
                                <%}%>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->
 
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">

              <div class="mdk-drawer-layout__content page">

                <div id="editor"><%= data[0].data%></div> 
                
                </div>
                <!-- // END drawer-layout__content -->

                <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                    <div class="mdk-drawer__content">
                        <div class="sidebar sidebar-left ps sidebar-dark bg-dark" data-perfect-scrollbar>
                            <div class="sidebar-heading sidebar-m-t"><%=user%><a id="modall2" href="#"><i class="voice fas fa-pencil-alt"></i></a><i  id="onMicro" onclick="onMicro()" class="fas fa-microphone-alt voice"></i><i style="color: aqua;"  id="offMicro" onclick="offMicro()" class="fas fa-microphone-alt-slash voice"></i></div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item">
                                  <a class="sidebar-menu-button" data-toggle="collapse" href="#layouts_menu">
                                      <span class="sidebar-menu-text">My Codes</span>
                                      <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                  </a>
                                  <ul class="sidebar-submenu collapse" id="layouts_menu">
                                     
                                    <!-- <li class="sidebar-menu-item active">
                                          <a class="sidebar-menu-button" href="index.html">
                                              <span class="sidebar-menu-text">Default</span>
                                          </a>
                                      </li> -->

                                      <li class="sidebar-menu-item active"></li>
                                        <% if(login != null){ %>
                                            <!-- <p><a  style="padding-left: 30px;" href="">Add link ...</a></p> -->

                                           
                                      <% } else{ %>  
                                          <p><a  style="padding-left: 30px;" href="/user/login/<%=data[0].nameCode%>">Login here!</a></p>
                                      <% } %>
                                      </li>
                                      <%if(library !=  null){%>
                                      <% library.forEach(function(link){ %>
                                      <li class="sidebar-menu-item active">
                                         
                                            <%if(link.name_code === data[0].nameCode){%>
                                              <div class="sidebar-menu-button">
                                                <a class="sidebar-menu-button" href="/<%= link.name_code%>">
                                                  <span style="color: aqua;"><%= link.dess%></span>
                                                </a><i onclick="editLibrary('<%= link.name_code%>','<%= link.dess%>')" class="voice fas fa-pencil-alt"></i><i onclick="deleteLibrary('<%= link.name_code%>','<%= link.dess%>')" style="padding-left: 5px;" class="far fa-trash-alt"></i>
                                              </div>
                                             
                                              <%}else{%>
                                                <div class="sidebar-menu-button">

                                                  <a class="sidebar-menu-button" href="/<%= link.name_code%>">
                                                
                                                    <span><%= link.dess%></span>
                                                  </a><i onclick="editLibrary('<%= link.name_code%>','<%= link.dess%>')" class="voice fas fa-pencil-alt"></i><i onclick="deleteLibrary('<%= link.name_code%>','<%= link.dess%>')" style="padding-left: 5px;" class="far fa-trash-alt"></i>
                                                </div>
                                             
                                              <%}%>
                                          
                                      </li>
                                        <% }); %>
                                        <% } %>
                                  </ul>
                              </li>
                               
                            
                            <div class="sidebar-menu-button">Friends</div>
                            <div class="sidebar-block p-0" >
                                <ul class="sidebar-menu" id="components_menu">
                                  <div id="div-chat">
                                  </div>
                                    
                                </ul>
                            </div>
                            <!-- <div id="app"></div> -->
                            <audio id="audio_mp3" controls src="/mp3-upload/test.mp3"></audio>

                            <li class="sidebar-menu-item">
                              <a class="sidebar-menu-button" data-toggle="collapse" href="#layouts_menuu">
                                  <div>Music</div>
                                  <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse" id="layouts_menuu">
                                  <% if(login != null){ %>
                                    <p><a id="modall4"  style="padding-left: 30px;" href="#">Add mp3 ...</a></p>
                                    
                                  <% } else{ %>  
                                    <p><a  style="padding-left: 30px;" href="/user/login/<%=data[0].nameCode%>">Login here!</a></p>
                                  <% } %>
                                  <%if(musics !=  null){%>
                                    <% musics.forEach(function(music){ %>
                                    <li class="sidebar-menu-item active"></li>
                                        <div class="sidebar-menu-button">
                                            <a class="sidebar-menu-button" href="#"><span onclick="playMusic('<%= music.link%>')" style="color: white;" class="sidebar-menu-text"><%= music.name%></span></a><i onclick="editMusic('<%= music.name%>','<%= music.link%>')" class="voice fas fa-pencil-alt"></i><i onclick="deleteMusic('<%= music.name%>','<%= music.link%>')" style="padding-left: 5px;" class="far fa-trash-alt delete-music <%= music.link%>"></i>
                                          </div>
                                    </li>
                                      <% }); %>
                                      <% } %>

                                </ul>
                                 
                              </li>
                            </ul>
                            <div class="sidebar-p-a sidebar-b-y">
                              <div class="d-flex align-items-top mb-2">
                                  <div class="sidebar-heading m-0 p-0 flex text-body js-text-body">Progress</div>
                                  <div class="font-weight-bold text-success">60%</div>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <div class="sidebar-p-a sidebar-b-y">
                          <button id="snow" type="button" class="btn btn-primary">
                            <i class="material-icons">ac_unit</i>
                          </button>
                        </div>
                            <div class="sidebar-p-a">
                                <a href="https://themeforest.net/item/stack-admin-bootstrap-4-dashboard-template/22959011" class="btn btn-outline-primary btn-block">Purchase &dollar;35</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- // END drawer-layout -->
           
        </div>
        <!-- // END header-layout__content -->

    </div>
    <!-- // END header-layout -->

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings layout-active="default" :layout-location="{
      'default': 'index.html',
      'fixed': 'fixed-dashboard.html',
      'fluid': 'fluid-dashboard.html',
      'mini': 'mini-dashboard.html'
    }"></app-settings>
    </div>


    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- App -->
    <script src="assets/js/toggle-check-all.js"></script>
    <script src="assets/js/check-selected-row.js"></script>
    <script src="assets/js/dropdown.js"></script>
    <script src="assets/js/sidebar-mini.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="./js/maudio.js"></script>
    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>



    <!-- Flatpickr -->
    <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="assets/js/flatpickr.js"></script>

    <!-- Global Settings -->
    <script src="assets/js/settings.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App Charts JS -->
    <script src="assets/js/chartjs-rounded-bar.js"></script>
    <script src="assets/js/charts.js"></script>

    <!-- Chart Samples -->
    <script src="assets/js/page.dashboard.js"></script>

    <!-- Vector Maps -->
    <!-- <script src="assets/vendor/jqvmap/jquery.vmap.min.js"></script>
<script src="assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
<script src="assets/js/vector-maps.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>   
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
<script>
   var nameOfUser = '<%=user%>';
</script>
<script type="text/javascript" src="/js/xirsys-ice.js"></script>
<script src="/js/main.js" type="text/javascript"></script>

<script>

  // var h = '<audio controls src="./audio-test-01.mp3" autoplay="autoplay"></audio><audio controls src="https://mycugb.com/17ing/music/yc_yixin_yunkaiwusan.mp3"></audio><audio controls src="https://mycugb.com/17ing/music/17ing_20130508.mp3"></audio>'
  
  
  maudio({
      obj:'audio',
      fastStep:10
  })
  
  
  
  // $('audio')[0].play()
  </script>
<script>

  
    
        function myFunctionCopy() {
  /* Get the text field */
  var copyText = localAdress + "<%=data[0].nameCode%>";
  window.prompt("Copy to clipboard and share: Ctrl+C, Enter", copyText);
}
$( "#audiox" ).click(function() {
  localStream.getAudioTracks()[0].stop(); 
  // $(this).attr("id","audioy");
});
var silent = false;

// var socket = io("https://vantuproject.herokuapp.com/");
// var socket = io("localhost:3000");
var editor = ace.edit("editor");
var userLast="";
socket.emit('join',{id:<%=data[0].id%>,ten:'<%=user%>'});
// socket.on('add',data => {
//   data.allUser.push(data.user);
//   console.log(data.allUser);
//   socket.emit('ok',)
// });
// editor.setTheme("ace/theme/vala");
// editor.getSession().setMode("ace/mode/javascript");
  editor.setTheme("ace/theme/chrome");
  editor.getSession().on('change', function () {
    if (silent) return "d";
    
    var data = editor.getSession().getValue();
    var ll = $("#lang").val();
    // console.log(ll);
    // var currline = editor.getSelectionRange().start.row;
    var currline = editor.getCursorPosition()
    // console.log(currline.column+1);
    editor.$blockScrolling =Infinity;
    editor.find(userLast);
    editor.replace("");
    // editor.remove(userLast)
    editor.getSession().getSelection().selectionLead.setPosition(currline.row, currline.column);
    // editor.scrollToLine(currline.row,true,false);
    socket.emit('haha', {id: <%=data[0].id%>,data: data,user:'<%=user%>',lang: ll, line:currline.row});


});
$("#lang").val("<%=data[0].lang%>");
$( "#lang" )
  .change(function () {
    var value = $(this).val();
  
    editor.getSession().setMode("ace/mode/" + value);
    var data = editor.getSession().getValue();
    // console.log(value);
    socket.emit('lang', {
                           id: <%=data[0].id%>,
                           data: data,
                           user:'<%=user%>',
                           lang: value
                      });
  })
  .change();
$( "#size" )
    .change(function () {
      var value = $(this).val();
   
      document.getElementById('editor').style.fontSize= value + 'px';
    })
    .change();
$( "#them" )
      .change(function () {
        var value = $(this).val();
       
        editor.setTheme("ace/theme/" + value);
      })
      .change();

$(".modall").on('click',function(){
  $('#exampleModal').modal('show')
})
$("#modall2").on('click',function(){
  $('#exampleModal2').modal('show')
})
$("#modall3").on('click',function(){
  $('#exampleModal3').modal('show')
})
$("#modall4").on('click',function(){
  $('#exampleModal4').modal('show')
})
$("#modallRunCode").on('click',function(){
  $('#exampleModalRunCode').modal('show')
})
function editLibrary(nameCode,dess){
  $('#edit-library-dess').val(dess);
  $('#edit-library-namecode').val(nameCode);
  $('#editLibrary').modal('show')
}
function deleteLibrary(nameCode, dess){
  $('#delete-library-dess').val(dess);
  $('#delete-library-namecode').val(nameCode);
  $('#deleteLibrary').modal('show')
}
function editMusic(name,link){
  $('#edit-music-link').val(link);
  $('#edit-music-name').val(name);
  $('#editMusic').modal('show')
}
function deleteMusic(name, link){
  $('#delete-music-name').val(name);
  $('#delete-music-link').val(link);
  $('#deleteMusic').modal('show')
}
// socket.on('dataOld', old => {
//   silent = true;
//   console.log(old[0].data);
//   editor.getSession().setValue(old[0].data.data);
//   silent = false;
// })
socket.on('nes', data => {

 var val = $('#lang').val();
 var cmt = "", cmt2 = "";
 switch (val) {
   case "html": cmt = "<!--";
   cmt2 = "-->";
     break;
     case "javascript": cmt = "//";
     cmt2 = "";
     break;
     case "c_cpp"  : cmt = "//";
     cmt2 = "";
     break;
     case "csharp": cmt = "/*";
     cmt2 = "*/";
     break;
     case "java": cmt = "/*";
     cmt2 = "*/";
     break;
     case "php"  : cmt = "//";
     cmt2 = "";
     break;
     case "python"  : cmt = "#";
     cmt2 = "";
     break;
   default:

 }
 silent = true;
 userLast = "\n " + cmt + data.name + " is coding..." + cmt2;
 editor.getSession().setValue(data.dt.data + userLast);
 editor.$blockScrolling =Infinity;
//  console.log(data.line+1)
//  editor.renderer.scrollCursorIntoView({row: data.line, column: 1}, 0.5)
editor.getSession().getSelection().selectionLead.setPosition(data.line,3);
silent = false
//  var x = document.getElementById("myAudio"); 
//     function playAudio() { 
//       x.play(); 
//     } 
//     playAudio();
 // editor.clearSelection();
});
function searchToggle(obj, evt){
            var container = $(obj).closest('.search-wrapper');

            if(!container.hasClass('active')){
                  container.addClass('active');
                  evt.preventDefault();
            }
            else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                  container.removeClass('active');
                  // clear input
                  container.find('.search-input').val('');
                  // clear and hide result container when we press close
                  container.find('.result-container').fadeOut(100, function(){$(this).empty();});
            }
        }
      </script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Set password:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/setPassword/<%=data[0].nameCode%>" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">password:</label>
              <input type = "text" name = "pass" class="form-control" id="message-text"></input>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New username:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/newUsername/<%=data[0].nameCode%>" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">username:</label>
              <input type = "text" name = "newUsername" class="form-control" id="message-text"></input>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="editLibrary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Library:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/user/edit-library" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">name:</label>
              <input id="edit-library-dess" type = "text" name = "dess" class="form-control"></input>
              <input id="edit-library-namecode" type="hidden" name="nameCode" value="" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteLibrary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Library:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/user/delete-library" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">Do you want to delete this code?</label>
              <input disabled id="delete-library-dess" type = "text" name = "dess" class="form-control"></input>
              <input id="delete-library-namecode" type="hidden" name="nameCode" value="" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Yes">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="editMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Music:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/user/edit-music/<%=data[0].nameCode%>" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">name:</label>
              <input id="edit-music-name" type = "text" name = "name" class="form-control"></input>
              <input id="edit-music-link" type="hidden" name="link" value="" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Music:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/user/delete-music/<%=data[0].nameCode%>" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">Do you want to delete this music?</label>
              <input disabled id="delete-music-name" type = "text" name = "name" class="form-control"></input>
              <input id="delete-music-link" type="hidden" name="link" value="" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Yes">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalRunCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Run code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="message-text" class="col-form-label">input:</label>
              <input id="input" type = "text" class="form-control" id="message-text"></input>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input onclick="runCode()" class="btn btn-primary" value="Run">
            </div>
          Output:
          <textarea readonly cols="30" id="output" ></textarea> 
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add code to your library</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action = "/user/add-code/<%=data[0].nameCode%>" method = "POST">
            <div class="form-group">
              <label for="message-text" class="col-form-label">descript:</label>
              <input type = "text" name = "dess" class="form-control" id="message-text"></input>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add mp3 file to your library</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ref='uploadForm' 
          id='uploadForm' 
          action='/user/upload/<%=data[0].nameCode%>' 
          method='post' 
          encType="multipart/form-data">
          <input type="text" name="name" />
            <input type="file" name="sampleFile" />
            <input type='submit' value='Upload!' />
        </form> 
        </div>
        
      </div>
    </div>
  </div>
  <style>
    /* customizable snowflake styling */
    .snowflake {
      color: #fff;
      font-size: 1em;
      font-family: Arial, sans-serif;
      text-shadow: 0 0 5px #000;
    }
    @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
  </style>
  
  // HTML
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
  </div>

  <script>
  var on = false;
    $('.snowflakes').hide();
    $('#snow').css('color','grey');
    $('#snow').click(function(){
      if(!on){
        $('.snowflakes').show();
        $('#snow').css('color','white');
      }else{
        $('.snowflakes').hide();
        $('#snow').css('color','grey');
      }
      on=!on;
    })

    function playMusic(link){
      console.log("change music")
      var audio = document.getElementById("audio_mp3");
      audio.src=link;
      audio.load();
      audio.play();
    }

    function runCode() {
      document.getElementById("output").value ="";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText); 
          var obj = JSON.parse(this.responseText)
           
            if(obj.output==null){
              document.getElementById("output").value = obj.error;
            }else{
              document.getElementById("output").value = obj.output;
            }
            
            
       }
    };
    var input, inputRadio;
    if($('#input').val()===""){
      input = "";
      inputRadio = "false";
    }else{
      input = $('#input').val();
      inputRadio ="true";
    }
    console.log(inputRadio)
    var data = new FormData();
    data.append('code',editor.getSession().getValue());
    data.append('input', input);
    data.append('inputRadio', inputRadio);
    data.append('lang', $('#lang').val());
    xhttp.open("POST", "/user/compilecode");
    console.log("debug: " + $('#lang').val())
    xhttp.send(data);
}
  </script>
</body>

</html>