<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Inline form with .sr-only class</h2>
  <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p>
  <form class="form-inline" action="/admin/problem/edit" method="POST">
    <input name="id" type="hidden class="form-control" id="usr" value="<%=problem.id%>">
    <div class="form-group">
        <label for="usr">ProblemId:</label>
        <input name="stt" type="text" class="form-control" id="usr" value="<%=problem.stt%>">
    </div>
    <div class="form-group">
        <label for="usr">Company:</label>
        <input name="company" type="text" class="form-control" id="usr" value="<%=problem.company%>">
    </div>
    <div class="form-group">
        <label for="usr">Level</label>
        <input name="level" type="text" class="form-control" id="usr" value="<%=problem.level%>">
    </div>
    <div class="form-group">
        <label for="usr"></label>
        <textarea name="problem" class="form-control" rows="5" id="comment" ><%=problem.problem%></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
